<!--<nav>
			<ul class="list-style-none ml-auto flex flex-col pl-0 lg:mt-1 lg:flex-row"
			data-te-navbar-nav-ref>
				<li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1">
					Home
				</li>
				<li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1">
					about
				</li>
			</ul>
		</nav>-->
		<nav class="bg-secondary">
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-28">
			  <div class="flex items-center justify-end h-16">
				<div class="flex items-center">
				  <div class="flex-shrink-0">
					<img class="h-8 w-8" src="/path/to/your/logo.png" alt="Logo">
				  </div>
				  <div class="hidden md:block">
					<ul class="ml-10 flex items-baseline space-x-4">
					  <li><a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Inicio</a></li>
					  <li><a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Proyectos</a></li>
					  <li><a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contacto</a></li>
					</ul>
				  </div>
				</div>
				<!-- Aquí puedes agregar otros elementos a la derecha de la barra de navegación -->
			  </div>
			</div>
		  </nav>